################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MarktguruProducts
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.AssemblyInfo.cs
/MarktguruProducts.Domain/obj/Debug/net6.0/MarktguruProducts.Domain.AssemblyInfo.cs
/MarktguruProducts.Domain/obj/Debug/net6.0/MarktguruProducts.Domain.AssemblyInfo.cs
/MarktguruProducts.Domain/obj/Debug/net6.0/MarktguruProducts.Domain.AssemblyInfoInputs.cache
/.vs/ProjectEvaluation
/MarktguruProducts.Api/bin/Debug/net6.0
/MarktguruProducts.Api/obj/Debug/net6.0/ref
/MarktguruProducts.Api/obj/Debug/net6.0/refint
/MarktguruProducts.Api/obj/Debug/net6.0/staticwebassets
/MarktguruProducts.Api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MarktguruProducts.Api/obj/Debug/net6.0/apphost.exe
/MarktguruProducts.Api/obj/Debug/net6.0/Marktgur.CDCA0465.Up2Date
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.AssemblyInfo.cs
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.AssemblyInfoInputs.cache
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.assets.cache
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.csproj.AssemblyReference.cache
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.csproj.BuildWithSkipAnalyzers
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.csproj.CoreCompileInputs.cache
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.csproj.FileListAbsolute.txt
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.dll
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.genruntimeconfig.cache
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.MvcApplicationPartsAssemblyInfo.cache
/MarktguruProducts.Api/obj/Debug/net6.0/MarktguruProducts.Api.pdb
/MarktguruProducts.Api/obj/Debug/net6.0/staticwebassets.build.json
/MarktguruProducts.Api/obj/MarktguruProducts.Api.csproj.nuget.dgspec.json
/MarktguruProducts.Api/obj/MarktguruProducts.Api.csproj.nuget.g.targets
/MarktguruProducts.Api/obj/project.assets.json
/MarktguruProducts.Api/obj/project.nuget.cache
/MarktguruProducts.Application/bin/Debug/net6.0/MarktguruProducts.Application.deps.json
/MarktguruProducts.Application/bin/Debug/net6.0/MarktguruProducts.Application.dll
/MarktguruProducts.Application/bin/Debug/net6.0/MarktguruProducts.Application.pdb
/MarktguruProducts.Application/bin/Debug/net6.0/MarktguruProducts.Domain.dll
/MarktguruProducts.Application/bin/Debug/net6.0/MarktguruProducts.Domain.pdb
/MarktguruProducts.Application/obj/Debug/net6.0/ref
/MarktguruProducts.Application/obj/Debug/net6.0/refint
/MarktguruProducts.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MarktguruProducts.Application/obj/Debug/net6.0/Marktgur.601776B3.Up2Date
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.AssemblyInfo.cs
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.AssemblyInfoInputs.cache
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.assets.cache
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.csproj.AssemblyReference.cache
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.csproj.BuildWithSkipAnalyzers
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.csproj.CoreCompileInputs.cache
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.csproj.FileListAbsolute.txt
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.dll
/MarktguruProducts.Application/obj/Debug/net6.0/MarktguruProducts.Application.pdb
/MarktguruProducts.Application/obj/MarktguruProducts.Application.csproj.nuget.dgspec.json
/MarktguruProducts.Application/obj/MarktguruProducts.Application.csproj.nuget.g.targets
/MarktguruProducts.Application/obj/project.assets.json
/MarktguruProducts.Application/obj/project.nuget.cache
/MarktguruProducts.Domain/bin/Debug/net6.0
/MarktguruProducts.Domain/obj/Debug/net6.0/ref
/MarktguruProducts.Domain/obj/Debug/net6.0/refint
/MarktguruProducts.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MarktguruProducts.Domain/obj/Debug/net6.0/MarktguruProducts.Domain.csproj.BuildWithSkipAnalyzers
/MarktguruProducts.Domain/obj/Debug/net6.0/MarktguruProducts.Domain.csproj.CoreCompileInputs.cache
/MarktguruProducts.Domain/obj/Debug/net6.0/MarktguruProducts.Domain.csproj.FileListAbsolute.txt
/MarktguruProducts.Domain/obj/Debug/net6.0/MarktguruProducts.Domain.dll
/MarktguruProducts.Domain/obj/Debug/net6.0/MarktguruProducts.Domain.pdb
/MarktguruProducts.Domain/obj/MarktguruProducts.Domain.csproj.nuget.g.targets
/MarktguruProducts.Infrastructure/bin/Debug/net6.0/MarktguruProducts.Domain.dll
/MarktguruProducts.Infrastructure/bin/Debug/net6.0/MarktguruProducts.Domain.pdb
/MarktguruProducts.Infrastructure/bin/Debug/net6.0/MarktguruProducts.Infrastructure.deps.json
/MarktguruProducts.Infrastructure/bin/Debug/net6.0/MarktguruProducts.Infrastructure.dll
/MarktguruProducts.Infrastructure/bin/Debug/net6.0/MarktguruProducts.Infrastructure.pdb
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/ref/MarktguruProducts.Infrastructure.dll
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/refint
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/refint/MarktguruProducts.Infrastructure.dll
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/Marktgur.7AD5C3EF.Up2Date
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.AssemblyInfo.cs
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.AssemblyInfoInputs.cache
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.assets.cache
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.csproj.AssemblyReference.cache
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.csproj.BuildWithSkipAnalyzers
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.csproj.CoreCompileInputs.cache
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.csproj.FileListAbsolute.txt
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.dll
/MarktguruProducts.Infrastructure/obj/Debug/net6.0/MarktguruProducts.Infrastructure.pdb
/MarktguruProducts.Infrastructure/obj/MarktguruProducts.Infrastructure.csproj.nuget.dgspec.json
/MarktguruProducts.Infrastructure/obj/MarktguruProducts.Infrastructure.csproj.nuget.g.targets
/MarktguruProducts.Infrastructure/obj/project.assets.json
/MarktguruProducts.Infrastructure/obj/project.nuget.cache
